<style>
  #adminDashboard{
    float:left;
  }
  #picture{
    float:right;
    width:25rem;
    margin-top:10rem;
    margin-right:15rem;
  }
  table{
    margin-top:12rem;
  }
  .pic{
    width:8.5rem;
  }
</style>
<app-admin-nav></app-admin-nav>
<div id="products">
    <div id="adminDashboard" class="container col-xs-8">
      <div class="table-responsive">
        <table class="table table-border">
          <thead>
          <tr>
            <th>Image</th>
            <th>Dress Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><img src="https://4.imimg.com/data4/SP/JF/MY-25044844/mens-coat-2-250x250.jpg" class="pic img-responsive"></td>
            <td>Product Name</td>
            <td>599</td>
            <td>1</td>
            <td ><button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button> &nbsp;
              <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button> </td>
          </tr>
          <tr>
            <td><img src="https://4.imimg.com/data4/SP/JF/MY-25044844/mens-coat-2-250x250.jpg" class="pic img-responsive"></td>
            <td>Product Name</td>
            <td>599</td>
            <td>1</td>
            <td ><button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button> &nbsp;
              <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button> </td>
          </tr>
          <tr>
            <td><img src="https://4.imimg.com/data4/SP/JF/MY-25044844/mens-coat-2-250x250.jpg" class="pic img-responsive"></td>
            <td>Product Name</td>
            <td>599</td>
            <td>1</td>
            <td ><button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button> &nbsp;
              <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button> </td>
          </tr>
          <tr>
            <td><img src="https://4.imimg.com/data4/SP/JF/MY-25044844/mens-coat-2-250x250.jpg" class="pic img-responsive"></td>
            <td>Product Name</td>
            <td>599</td>
            <td>1</td> 
            <td ><button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button> &nbsp;
              <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button> </td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
    <div id="picture">
      <img src="https://www.localz.com/hubfs/New%20Site%202020%20v2/Use%20Cases/Curbside%20Collection/curbside-1.png" class="img-responsive"><br>
      <a href="addProduct.html"><button class="btn btn-warning" id="addDressButton"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp; Add Product</button></a>
    </div>
  </div>