<nav class="navbar navbar-expand-lg ">
    <a class="home" routerLink="/home">Dress Store</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" routerLink="/home">Home</a></li>
            <li class="nav-item "><a class="nav-link" routerLink="/cart">Cart</a></li>
            <li class="nav-item "><a class="nav-link" routerLink="/orders">My Order</a></li>
        </ul>
        <a routerLink="/login" onclick="javascript:return confirm('Are you sure you want to log out?');">Logout</a>
    </div>
</nav>
<div class="fonts">
    <h2>Welcome Home</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <a href="Product.component.html"><img src="assets/A.png" alt=""></a>
            <div class="bottom-left">Product Name</div>
            <div class="bottom-right">Product Price</div>
        </div>
        <div class="col">
            <a href="Product.component.html"><img src="assets/A.png" alt=""></a>
            <div class="bottom-left">Product Name</div>
            <div class="bottom-right">Product Price</div>
        </div>
        <div class="col">
            <a href="Product.component.html"><img src="assets/A.png" alt=""></a>
            <div class="bottom-left">Product Name</div>
            <div class="bottom-right">Product Price</div>
        </div>
        <div class="col">
            <a href="Product.component.html"><img src="assets/A.png" alt=""></a>
            <div class="bottom-left">Product Name</div>
            <div class="bottom-right">Product Price</div>
        </div>
        <div class="col">
            <a href="Product.component.html"><img src="assets/A.png" alt=""></a>
            <div class="bottom-left">Product Name</div>
            <div class="bottom-right">Product Price</div>
        </div>
        <div class="col">
            <a href="Product.component.html"><img src="assets/A.png" alt=""></a>
            <div class="bottom-left">Product Name</div>
            <div class="bottom-right">Product Price</div>
        </div>
    </div>
</div>