<div class="split left">
    <div class="centered" id="signupBox">
        <h2 class="signup">SIGN UP</h2>
        <form action="/login">
            <input class="box" type="text" placeholder="Enter Email" name="email" id="email"><br><br>
            <input class="box" type="text" placeholder="Enter Username" name="username" id="username"><br><br>
            <input class="box" type="number" placeholder="Enter Mobile Number" name="mobilenumber" id="mobilenumber"><br><br>
            <input class="box" type="password" placeholder="Password" name="password" id="password"><br><br>
            <input class="box" type="password" placeholder="Confirm Password" name="confirmpassword" id="confirmpassword"><br><br>
            <button  class="btn btn-success"  id="signupButton">SIGN UP</button><br><br>
        </form>
        Already a member?<a class="login" id="siginLink" routerLink="/login">Click here</a>
    </div>
</div>
<div class="split right">
    <div class="centered">
        <img src="assets/Register.png">
    </div>
</div>