body {
    font-family: Calibri;
}

h2 {
    color: rgb(245,200,0);
    padding-top: 2%;
    text-align: center;
}

.box {
    color: white;
    text-align: center;
    padding-top: 2%;
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5%;
    padding-bottom: 2%;
    border: 1px solid white;
    border-radius: 5%;
    background-color: rgb(245,200,0);
}

.vert {
    float: left;
    width: 10%;
    padding: 5px;
}

.overlap {
    float: left;
    width: 80%;
    padding: 5px;
}

.hori::after {
    content: "";
    clear: both;
    display: table;
}

button {
    background-color: rgb(245,200,0);
    border-radius: 5%;
    border: 1px solid rgb(245,200,0);
    color: white;
}
