<nav class="navbar navbar-expand-sm navbar-light ">
<div class="container-fluid ">
    <a class="navbar-brand" href="#">Dress Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    	</button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <a class="nav-link active" aria-current="page" href="#"><span class="bi bi-cart3">Products</span></a>
    <a class="nav-link active" aria-current="page" href="#"><span class="bi bi-truck">Orders</span></a>
    <ul class="navbar-nav ms-auto">
    <li class="nav-item">
    <a class="navbar-brand" aria-current="page" href="#"><span class="bi bi-box-arrow-right">Logout</span></a>
    </li>
</ul>		  
</div>
</div>
</nav>

<div class="container mb-5">
<form>
<div class="row justify-content-around">
<div class="col col-lg-4">
<div class="text-center">
<img src="assets\pics\logo.png" class="rounded" alt="...">
</div>
</div>
<div class="col-4">
<label  class="form-label"><b> ADD A NEW PRODUCT</b></label>
<br>
<br>
<div class="form-group">
<input type="text" class="form-control" name="pdn" placeholder="Product Name" />
</div>
&nbsp;
<div class="form-group">
<input type="text" class="form-control" name="pdd" placeholder="Product Price" />
</div>
&nbsp;
<div class="form-group">
<input type="text" class="form-control" name="pdq" placeholder="Product Description" />
</div>
&nbsp;
<div class="form-group">
<input type="text" class="form-control" name="pdurl" placeholder="Image Url" />
</div>
&nbsp;
<div class="form-group">
<input type="text" class="form-control" name="pdp" placeholder="Product Quantity" />
</div>
<br>
<button class="btn btn-primary"><b>ADD</b></button>
</div>
</div>
</form>
</div>

    	  