<section class="fontset">
    <div class="navbar">
        <a class="current" href="../home.component.html">Fantasy Dress Home</a>
        <a href="../cart/cart.component.html">Cart</a>
        <a href="#orders">My order</a>
        <div class="navbar-move"><a href="../../../index.html">Logout</a></div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <table id="orders">
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
        <tr>
            <td>Product</td>
            <td>Product Price</td>
            <td>2</td>
            <td>Total Price amount</td>
        </tr>
        <tr>
            <td>Product</td>
            <td>Product Price</td>
            <td>1</td>
            <td>Total Price amount</td>
        </tr>
        <tr>
            <td>Product</td>
            <td>Product Price</td>
            <td>2</td>
            <td>Total Price amount</td>
        </tr>
        <tr>
            <td>Product</td>
            <td>Product Price</td>
            <td>1</td>
            <td>Total Price amount</td>
        </tr>
        <tr>
            <td>Product</td>
            <td>Product Price</td>
            <td>3</td>
            <td>Total Price amount</td>
        </tr>
    </table>
</section>
