<section class="appearance">
    <div class="navbar">
        <a class="current" href="#fdress">Fantasy-Dress</a>
        <a href="products/products.component.html">Product</a>
        <a href="orders/orders.component.html">Orders</a>
        <div class="navbar-move"><a href="../../index.html">Logout</a></div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div id="fdress"></div>
        <table>
            <tr>
                <th>Image</th>
                <th>Dress Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td><img src="https://drive.google.com/uc?export=view&id=1xZ9tEofOhRLa8ljF3KPQ52dxBsTuvFvs" height="50px" width="50px"></td>
                <td>Product name</td>
                <td>599</td>
                <td>1</td>
                <td><img src="https://drive.google.com/uc?export=view&id=10doh-P36eD7mPubcZFW7OXCcLrIFxyhh" height="15px" width="15px"></td>
                <td><img src="https://drive.google.com/uc?export=view&id=123iGRS_1FwI5irOSaRIRKdLQC2t0of47" height="15px" width="15px"></td>
            </tr>
            <tr>
                <td><img src="https://drive.google.com/uc?export=view&id=1xZ9tEofOhRLa8ljF3KPQ52dxBsTuvFvs" height="50px" width="50px"></td>
                <td>Product name</td>
                <td>599</td>
                <td>1</td>
                <td><img src="https://drive.google.com/uc?export=view&id=10doh-P36eD7mPubcZFW7OXCcLrIFxyhh" height="15px" width="15px"></td>
                <td><img src="https://drive.google.com/uc?export=view&id=123iGRS_1FwI5irOSaRIRKdLQC2t0of47" height="15px" width="15px"></td>
            </tr>
            <tr>
                <td><img src="https://drive.google.com/uc?export=view&id=1xZ9tEofOhRLa8ljF3KPQ52dxBsTuvFvs" height="50px" width="50px"></td>
                <td>Product name</td>
                <td>599</td>
                <td>1</td>
                <td><img src="https://drive.google.com/uc?export=view&id=10doh-P36eD7mPubcZFW7OXCcLrIFxyhh" height="15px" width="15px"></td>
                <td><img src="https://drive.google.com/uc?export=view&id=123iGRS_1FwI5irOSaRIRKdLQC2t0of47" height="15px" width="15px"></td>
            </tr>
            <tr>
                <td><img src="https://drive.google.com/uc?export=view&id=1xZ9tEofOhRLa8ljF3KPQ52dxBsTuvFvs" height="50px" width="50px"></td>
                <td>Product name</td>
                <td>599</td>
                <td>1</td>
                <td><img src="https://drive.google.com/uc?export=view&id=10doh-P36eD7mPubcZFW7OXCcLrIFxyhh" height="15px" width="15px"></td>
                <td><img src="https://drive.google.com/uc?export=view&id=123iGRS_1FwI5irOSaRIRKdLQC2t0of47" height="15px" width="15px"></td>
            </tr>
        </table>
    </div>
</section>
