.split{
    height:100%;
    width:50%;
    position: fixed;
}
.left{
    left:0;
}
.right{
    right:0;
}
.centered{
    text-align: center;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.left .login{
    color:#c1de31;
    font-family: 'MS Sans Serif',sans-serif;
}
.signup 
{
    color:#c1de31;
}
.box{
    border-radius:10px;
    padding: 15px; 
    height: 10px; 
    width: 250px;
    border-color: skyblue; 
    border-width: 1px;
}