<section class="fontset">
    <div class="navbar">
        <a class="current" href="../home.component.html">Fantasy Dress Home</a>
        <a href="#cart">Cart</a>
        <a href="../myorders/myorders.component.html">My order</a>
        <div class="navbar-move"><a href="../../../index.html">Logout</a></div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div id="cart">
    <table>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        <tr>
            <td>Product</td>
            <td>Product Price</td>
            <td>2</td>
            <td><img src="https://drive.google.com/uc?export=view&id=123iGRS_1FwI5irOSaRIRKdLQC2t0of47" alt="trash" width="20px" height="20px"></td>
        </tr>
        <tr>
            <td>Product</td>
            <td>Product Price</td>
            <td>2</td>
            <td><img src="https://drive.google.com/uc?export=view&id=123iGRS_1FwI5irOSaRIRKdLQC2t0of47" alt="trash" width="20px" height="20px"></td>
        </tr>
        <tr>
            <td>Product</td>
            <td>Product Price</td>
            <td>2</td>
            <td><img src="https://drive.google.com/uc?export=view&id=123iGRS_1FwI5irOSaRIRKdLQC2t0of47" alt="trash" width="20px" height="20px"></td>
        </tr>
    </table>
    <button type="submit" onclick="">Place order</button>
    </div>
</section>
